<section class="page">
  <header>
    
    <%= link_to image_tag(image_path('arrow.png')), 'javascript:history.back()', class: "back-btn" %>
    <h2>REGISTER</h2>
    <div class="actions">
      <button form="new_user" id="btn-next">Next</button>
    </div>
  </header>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: false}) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field image">
      <img src=<%=image_path("user.png")%> id='image-file' class="img-w60"/>
      <div class="image-input">
        <%= f.label :image, "Upload picture" %>
        <%= f.file_field :image %>
      </div>
    </div>

    <div class="line"></div>

    <div class="field">
      <%= f.text_field :name, autofocus: true, placeholder: "Full name" %>
    </div>

    <div class="line"></div>

    <div class="field">
      <%= f.email_field :email, autocomplete: "email", placeholder: "Email" %>
    </div>

    <div class="line"></div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
    </div>
  <% end %>
</section>
<script>
  function showImage(src,target) {
    var fr=new FileReader();
    // when image is loaded, set the src of the image where you want to display it
    fr.onload = function(e) { target.src = this.result; };
    src.addEventListener("change",function() {
      // fill fr with image data    
      fr.readAsDataURL(src.files[0]);
    });
  }
  var src = document.getElementById("user_image");
  var target = document.getElementById("image-file");
  showImage(src,target);
</script>